body{
background-image: url("background1.png");
font-family: roboto;
text-align: center;
}
h1{
color: black;
}
div{
margin: 10px;
}
.kotak{
background: aquamarine;
width: 100px;
height: 100px;
transition: width 1s;
-webkit-transition: width 1s;
}
.kotak:hover{
width: 300px;
}
.kotak2{
background: aqua;
width: 100px;
height: 100px;
transition: width 1s, height 2s;
-webkit-transition: width 1s, height 2s;
}
.kotak2:hover{
width: 300px;
height: 300px;
}
